<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
        <button type="button" data-action="confirm" class="ui-button btn-confirm ui-corner-all ui-widget">{{ Ok }}</button>
        <button type="button" data-action="cancel" class="ui-button btn-cancel ui-corner-all ui-widget">{{ Cancel }}</button>
    </div>
</div>